<!DOCTYPE html>
<html>
<head>
<style>
  body{background: skyblue; front-family: verdana , color:#fff; padding: 30px;}
  h1{ font-size:48px; text-transform: uppercase; letter-spacing:2px;text-aling:center; }
  p {font-size 16px; text-align:center;}
</style>
</head>

<body>
<h1> Welcome to the most awesome website </h1>
<h2> Welcome to the profile of <%=person %> </h2>
<p><strong>Age:</strong><%=data.age %> </p>
<p><strong>Job:</strong><%=data.job%> </p>

<h3>Hobbies</h3>
<ul>
    <%data.hobbies.forEach(function(item) { %>
      <li> <%=item %> </li>
      <% }); %>

</ul>

<p> You won't find a website better anywhere else </p>
</body>

</html>
